/* ==========================================================================
   Modals
   ========================================================================== */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9990;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.modal__inner {
  @extend .row;
  position: relative;
  margin: ($global-spacing * 2) 0;
  width: 100%;
  max-width: 48rem;

  > *:last-child {
    margin-bottom: 0;
  }

  .modal--prompt & {
    text-align: center;
  }
}


/* Modal size modifiers
   ========================================================================== */

/* Small */

.modal--small .modal__inner {
  max-width: 32rem;
}

/* Medium
   Default
*/

.modal--medium .modal__inner {
  max-width: 48rem;
}

/* Large */

.modal--large .modal__inner {
  max-width: 64rem;
}

/* XLarge */

.modal--xlarge .modal__inner {
  max-width: 80rem;
}


/* Modal animation
   ========================================================================== */

.modal-enter {
  transform: translate3d(0, 0, 0);
  transition: opacity 0.32s ease 0s, visibility 0.32s linear 0s;
  opacity: 0;
  visibility: hidden;

  &.modal-enter-active {
    opacity: 1;
    visibility: visible;
  }
}

.modal-exit {
  transition: opacity 0.32s ease 0s, visibility 0.32s linear 0s;
  opacity: 1;
  visibility: visible;

  &.modal-exit-active {
    opacity: 0;
    visibility: hidden;
  }
}


/* Modal structure
   ========================================================================== */

.modal {
  &__header,
  &__footer {
    position: relative;
    text-align: center;
  }

  &__header {
    margin-bottom: ($global-spacing * 3);

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__headline {
    margin-bottom: $global-spacing;

    > *:last-child {
      margin-bottom: 0;
    }

    &::after {
      content: '';
      width: 2rem;
      height: $base-border-width;
      background: $base-font-color;
      display: block;
      margin: calc(0.5em - #{$base-border-width}) auto 0 auto;
    }
  }

  &__title {
    @include heading(1.5rem);
  }

  &__subtitle {
    position: relative;
    @extend .heading-alt;
    color: rgba($base-font-color, 0.64);
    font-size: 0.875rem;
    line-height: 1rem;
    margin: ($global-spacing / 4) 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__introduction {
    color: rgba($base-font-color, 0.64);
    font-size: 1rem;
    line-height: 1.5rem;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__body {
    margin-bottom: ($global-spacing * 3);

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__footer {
    font-size: 0;

    .button {
      margin: 0 ($global-spacing / 4);

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


/* Modal footer actions
   ========================================================================== */

/**
 * "mfa-" prefix stands for "modal footer action"
 */

[class^="mfa-"],
[class*=" mfa-"] {
  @extend .button;
  min-width: 6rem;
}

.mfa-tick, {
  @extend .button--primary-raised-dark;
}

.mfa-tick::before {
  @extend %uisi-sm-tick;
}

.mfa-xmark, {
  @extend .button--base-raised-light;

  &::before {
    @extend %uisi-sm-xmark;
  }
}


/* Modal meta actions
   ========================================================================== */

/**
 * "mma-" prefix stands for "modal meta action"
 */

[class^="mma-"],
[class*=" mma-"] {
  @extend .button, .button--medium, .button--base-plain, .button--text-hidden;
}

.mma-xmark {
  position: absolute;
  top: $global-spacing * 2;
  right: $global-spacing * 2;
  z-index: 10;

  &::before {
    @extend %uisi-xmark;
    font-size: 1.25rem;
  }
}


/* Modal helpers
   ========================================================================== */

.modal__unscrollable-y {
  overflow-y: hidden;
}

.modal__unscrollable-x {
  overflow-x: hidden;
}
