/* ==========================================================================
   Homepage: Content
   ========================================================================== */


.page--homepage {

  .page__header {
    box-shadow: 0 1px 0 0 rgba(#fff, 0.16);
  }

  .inpage__header {
    @extend .antialiased;
    position: relative;
    background-image: url(../graphics/content/2196726835_85e35e332e_o.jpg);
    color: #fff;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background: linear-gradient(45deg, rgba(shade($accent-color, 92%), 1) 0%, rgba(shade($accent-color, 64%), 0.8) 64%, rgba($accent-color, 0.8) 100%);
    }
  }

  .inpage__subtitle {
    color: rgba(#FFF, 0.64);
  }

  .inpage__introduction {
    color: rgba(#FFF, 0.64);
  }
}

.showcase {
  @include media(medium-up) {
    @include column(10/12);
    @include move(1/12);
  }
}


/* Exhibit
   ========================================================================== */

.exhibit {
  @extend .clearfix;
  border-radius: $base-border-radius;
  background: #fff;
  font-size: 1rem;
  line-height: 1.5;
  overflow: hidden;
  box-shadow: inset 0 0 0 1px $base-alpha-color;

  li > & {
    margin: 0;
  }

  &--clipped {
    overflow: hidden;
  }
}

.exhibit__content,
.exhibit__caption,
.prose .exhibit__caption {
  padding: $global-spacing;
  clear: both;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  @include media(medium-up) {
    padding: $global-spacing * 1.5;
  }
}

.exhibit--mid-dark  {
  @extend .antialiased;
  background: tint($base-color, 92%);
}

.exhibit--dark {
  @extend .antialiased;
  background: $base-color;
  color: #fff;
}

.exhibit__caption {
  background: rgba($base-color, 0.04);
  box-shadow: inset 0 1px 0 $base-alpha-color;

  pre {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    background: none;
  }

  .highlight pre,
  > *:last-child {
    margin-bottom: 0;
  }
}

.exhibit__captitle {
  @extend .heading-alt;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.exhibit__details {
  dd {
    margin-bottom: 0;
  }
}


/* Exhibit: Misc
   ========================================================================== */

.button--example-icon:before {
  @extend %uisi-pencil;
}

.drop__menu-item--example-icon:before {
  @extend %uisi-download;
}

.exhibit__content {
  > .button,
  > .button-group,
  [data-hook="react:drops"] .button {
    margin: 0 0.5rem 0.5rem 0;
  }

  > .card {
    margin: 0 0 2rem 0;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6, {
    margin: 0 0 1rem 0 !important;
  }

  > .drop {
    float: left;
    margin: 0 1.5rem 1.5rem 0;

    .drop__toggle {
      float: left;
    }

    .drop__content {
      position: relative;
      float: left;
      clear: left;
    }
  }

  .panel {
    position: static;
  }

  .alert--popover {
    position: relative;
    bottom: initial;
    right: initial;
    margin-bottom: 1rem;
  }
}

.exhibit--modal {
  overflow: hidden;

  .exhibit__content {
    padding: 0;
  }

  .modal {
    position: relative;
    z-index: 0;
  }
}